<!--<like
  [likesCount]= "tweet.likesCount"  
  [isActive]="tweet.isLiked" >
</like>-->

<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"
  ></div>
  <ng-template #coursesList>
    list of courses
  </ng-template>

  <ng-template #noCourses>
    No courses
  </ng-template> -->


  <!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode= 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode= 'list'">List View</a></li>
  </ul>


  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'"> Map View Content</div>
    <div *ngSwitchCase="'list'"> list View Content </div>
    <div *ngSwitchDefault>Otherwise</div> 
  </div> -->

  <!-- <button (click)="loadCourses()"> Load courses</button>
  <ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
      {{course.name}} 
      <! <button (click)="onChange(course)">Update</button> -->
    <!-- </li>
  <! </ul> --> 
  <!-- <button (click)="loadCourses()">Load Courses</button>
  <ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
            {{course.name}}
            <! <button (click)="onRemove(course)">Remove</button>
            <button (click)= "onUpdate(course)">Update</button> -->

    <!--</li>
  </ul>  -->

  <!-- <input type="text" [appInputFormat] ="'uppercase'"> -->

    <!-- <zippy title="What is Azure Cosmos DB?">  
        Azure Cosmos DB is a globally distributed database service designed to enable you to elastically and independently scale throughput and storage across any number of geographical regions with a comprehensive SLA. You can develop document, key/value, or graph databases with Cosmos DB using a series of popular APIs and programming models.
      </zippy> 
      
    <zippy title="Billing Details"> 
        Billing Details Content 
      </zippy>
   -->

   <!-- <contact-form></contact-form> -->
   <div id="fullPage">
   <navbar ng-transclude> </navbar>
     <div class="container">
          <button class="btn btn-default" (click)=showConfirm()>Log-in</button>
        </div>
        <signup-form></signup-form> 
  <footer>  
    
</footer>
  </div>
  <!-- <router-outlet></router-outlet> -->
 

 <!-- <app-new-course-form1> </app-new-course-form1> -->

 <!-- <password-form>  </password-form> -->

 <!-- <posts></posts> -->