/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { padding:20px; }

.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}   

.navbar {
 border-bottom: 2px solid #eee;
}



.navigation {
    width: 20%;
    text-align: center;
    background-color: #CEE3F6;
    vertical-align:bottom;
    line-height:5px;
    height:5px;
}

#nav-list li {
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    vertical-align:bottom;
    line-height:normal;   
}

.logo-img {
    position:absolute;
    left:0px;
    top:0px;
    margin: 0px 5px 5px 0px;
}
/* .footer{
  background-color: #ccc;
  /* position:absolute; */
  /* bottom: 0;
  width:50%;
  padding: 0;
} */ 

.footer{
/* clear: both; */
height: 20px;
width: 500px;
text-align: center;

font-family: arial, helvetica;
font-weight: bold;
font-size: 12px;

background-color:#4099FF;

}


